
.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1rem;
}
/* 2K / UltraWide */
@media (min-width: 1920px) {
    .container {
        max-width: 1600px;
    }
    .layout{
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}

/* 1080p / Standard Desktop */
@media (max-width: 1919px) {
    .container {
        max-width: 1200px;
    }
    .layout{
        grid-template-rows: auto 1fr auto;
    }
}

/* Tablet landscape */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .layout{
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}

/* Tablet portrait */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .layout{
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}

/* Phone */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    .layout{
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}