.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 50px;
}

footer {
  min-height: 50px;
}

.confirmation-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
    gap:2rem;
    background: var(--muted);
    border-radius: var(--radius2);
}

.home-group{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-rows:100svw auto ;
    width: 100svw;
}

.img-group-3{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100svw;
    img{
        width: 100%;
    }
}

