.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.layout{
        display: grid;
        grid-template-rows: auto minmax(75svh, 1fr) auto;
        min-height: 100vh;
}

.confirmation-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
    gap:2rem;
    background: var(--muted);
    border-radius: var(--radius2);
}