.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}