@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

/* 
font-family: "Electrolize", sans-serif;
// <weight>: Use a value from 400

font-family: "Zalando Sans SemiExpanded", sans-serif;
// <weight>: Use a value from 200 to 900


*/ 
.fa-cart-plus{
    color: var(--accent);
}
.fa-cart-plus:hover{
    transition: .4s;
    opacity: 70%;
    
}

i{
    font-size: 1.5rem;
}
.error{
    color:var(--destructive);
    font-size:26px;
    text-align: center;
}

.loading-msg{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .loading-icon{
        margin-top:1rem;
        height: 50px;
        width: 50px;
        border-radius: var(--radius6);
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}