@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

/* 
font-family: "Electrolize", sans-serif;
// <weight>: Use a value from 400

font-family: "Zalando Sans SemiExpanded", sans-serif;
// <weight>: Use a value from 200 to 900


*/ 
.fa-cart-plus{
    color: var(--accent);
}
.fa-cart-plus:hover{
    transition: .4s;
    opacity: 70%;
    
}

i{
    font-size: 1.5rem;
}